<div class="motion card" id="motion-{{motion.id}}">
  <div class="motion-title card-heading 
  {%- if motion.running %} alert-light
{%- elif motion.canceled %} alert-warning
{%- elif motion.yes is defined %}{% if motion.yes != None and motion.no != None and motion.yes > motion.no %} alert-success{% else %} alert-danger{% endif %}
{%- else %} bg-light{%- endif -%}
">
    <span class="title-text">{{motion.name}}</span> ({{ 'Running' if motion.running else ('Canceled' if motion.canceled != None else 'Finished') }})
    <span class="motion-type">{{motion.type}}</span>
    <div># <a href="/motion/{{motion.identifier}}" class="anchor">{{motion.identifier}}</a></div>
    <div class="date">
      <div>Proposed: {{motion.posed|timestamp}} (UTC) by {{motion.poser}}</div>
{%- if motion.canceled != None %}
      <div>Canceled: {{motion.canceled|timestamp}} (UTC) by {{motion.canceler}}</div></div>
{%- else %}
      <div>Votes until: {{motion.deadline|timestamp}} (UTC)</div></div>
{%- endif %}
  </div>
  <div class="card-body">
    <p>{{motion.content|markdown}}</p>
{%- if motion.yes or motion.no or motion.abstain %}
    <p>
{%- for vote in ['yes', 'no', 'abstain'] %}
{{vote|capitalize}} <span class="badge">{{motion[vote]}}</span><br>
{%- endfor %}
    </p>
{%- endif %}
{%- if motion.canceled != None %}
    <p>Cancelation reason: {{motion.cancelation_reason}}</p>
{%- endif %}
  </div>
{%- block content %}{% endblock %}
</div>
