{% extends "base.html" %}
{% block title -%}
{{_('Motion')}}: {{motion.name}}
{%- endblock %}
{% block body %}
{%- include 'motion.html' %}
{%- if votes %}
<div class="motion card" id="votes">
  <div class="card-heading text-white bg-info">
    {{_('Motion Votes')}}
  </div>
  <div class="card-body">
    {%- for row in votes %}
    <div>{{row.email}}: {{row.result}}{%- if row.proxyemail %} : {_('given by')}} {{row.proxyemail}}{%- endif %}</div>
    {%- endfor %}
  </div>
</div>
{%- endif %}

{%- if motion.running %}

{%- if may_vote %}
<div class="panel panel-info" id="votes">
  <div class="panel-body">
<h3>{{_('My vote')}}</h3>
{%- if proxyname %}
{{_('Given by')}} {{proxyname[0][0]}}
{%- endif %}
<form action="/motion/{{motion.identifier}}/vote/{{g.voter}}" method="POST">
{%- for vote in ['yes', 'no', 'abstain'] %}
<button type="submit" class="btn btn-{{ 'success' if vote == motion.result else 'primary' }}" name="vote" value="{{vote}}" id="vote-{{vote}}">{{_(vote)}}</button>
{%- endfor %}
</form>

{%- for p in proxyvote %}
<h3>{{_('Vote for')}} {{p.email}}</h3>
{%- if p.owneremail and p.result%}
{{_('Voted by')}} {{p.owneremail}}
{%- endif %}
<form action="/motion/{{motion.identifier}}/vote/{{p.voter_id}}" method="POST">
{%- for vote in ['yes','no','abstain'] %}
<button type="submit" class="btn btn-{{ 'success' if vote == p.result else 'primary' }}" name="vote" value="{{vote}}" id="vote-{{vote}}">{{vote}}</button>
{%- endfor %}
</form>
{%- endfor %}
{%- endif %}

{%- if may_cancel %}
<form action="/motion/{{motion.identifier}}/cancel" method="POST" class="form-inline">
<input type="text" placeholder="{{_('Cancelation reason')}}" name="reason" class="form-control" required="yes">
<button type="submit" class="btn btn-danger" name="cancel" value="cancel" id="cancel">{{_('Cancel')}}</button></br>
</form>
{%- endif %}
{%- if may_finish %}
<form action="/motion/{{motion.identifier}}/finish" method="POST" class="form-inline">
<button type="submit" class="btn btn-danger" name="finish" value="finish" id="finish">{{_('Finish')}}</button></br>
</form>
{%- endif %}
{%- endif %}
<a href="/?start={{motion.id}}#motion-{{motion.id}}" class="btn btn-primary">{{_('Back')}}</a>
{%- endblock %}
  </div>
</div>
